
.navbar{
  padding-top: 0;
} 

.container-fluid {
  background-color:#FFFFFF;

}

.container-fluid div{
  display: flex;
  justify-content: space-around;
  }

a:hover {
  font-weight: bolder;
}
.row {
  height: 300px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.slide {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}

#carouselProjects {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
